@model IEnumerable<prjMvcCorefp.Models.TPatientInfo>

@{
    ViewData["Title"] = "List";
}

<h1>住民資料總覽</h1>

@*關鍵字查詢頁面*@
@using (Html.BeginForm())
{
        <p>
            關鍵字
        @Html.TextBox("txtKeyword")
            <input type="submit" value="查詢" />
        </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P編號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P性別)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P身分證字號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P出生日期)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P聯絡電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P聯絡人)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P電話2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P餐點)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.P醫師診斷)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P主訴)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.現在病史)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.過去病史)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.家族病史)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.檢查)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.指示與用藥)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.P建立)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P更新)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P照片)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0; 
            foreach (var item in Model) {
                count++;
                <tr>
                <td>
                   @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P性別)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P身分證字號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P出生日期)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P聯絡電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P聯絡人)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P電話2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P餐點)0
                    </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.P醫師診斷)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P主訴)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.現在病史)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.過去病史)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.家族病史)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.檢查)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.指示與用藥)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.P建立)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.P更新)
                </td>
                <td>
                        <img src="~/images/@item.P照片" width="200" height="180">
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PId}) |
                        @Html.ActionLink("Details", "Details", new {  id=item.PId  }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.PId},new{onclick="return confirm('確定要刪除嗎?')",@class="btn btn-danger"})
                </td>
            </tr>
}}
    </tbody>
</table>
